* {
    box-sizing: border-box;
}
body {
    background: white;
    margin: 0 75px;
}
.dogpic {
    width: 300px;
}
.title{ 
    justify-content: center;
    background-color: #004175;
    color: white;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Oswald", Times, sans-serif;
    border-bottom: 5px solid #89DEEF;
    margin: 0;
    height: 120px;
}
.title h1{
    margin: 0;
}
.dog-row {
    display: flex;
    width: 33%;
}
.dog {
    margin: 5px;
}
.dog h3{
    margin: 0px;
}
.traits{
    padding: 0;
    margin: 0;
}
li {
    font-family: "Open Sans";
    display: inline;
    list-style-type: none;
    border-radius: 10px;
    background-color: #89deef;
    padding: 0px;
}
.footer {
    display: flex;
    padding: 0px;
    height: 350px;
    justify-content: center;
    background-image: url (starter_files/images/donate.jpg), (starter_files/images/location.png), (starter_files/images/volunteer.jpg)
    background: linear-gradient(
    rgba(188, 128, 237),
    rgba(188, 128, 237)
    )




