* {
    box-sizing: border-box;
}
.dogpic {
    width: 300px;
}
.body{
    background: white;
    margin: -10px 50px 50px;
}
.title{ 
    display: flex;
    justify-content: center;
    background-color: #004175;
    flex-flow: row wrap;
    color: white;
    padding: 25px 800px 25px 25px;
    font-family: "Oswald", Times, sans-serif;
    border-bottom: 5px solid #89DEEF;
    margin: -10px 50px 0px;
}
div {
    display: inline-block;
}
.first{
    display: flex;
    justify-content: space-evenly; 
}
.second{
    display: flex;
    margin: 0px;
    justify-content: space-between;
}
.third{
    display: flex;
    margin: 0px;
    justify-content: space-between;
}
li{
    font-family: "Open Sans";
    display: inline;
    list-style-type: none;
    border-radius: 10px;
    background-color: #89deef;
    padding: 0px;
}
.outer{
    flex-flow: column wrap;
    margin: 5px;
}
.inner{
  flex-flow: column wrap;
  margin: 25px;
}
.footer{
    display: flex;
    padding: 0px;
    height: 350px;
    justify-content: center;
    background-image: url (starter_files/images/donate.jpg), (starter_files/images/location.png), (starter_files/images/volunteer.jpg)
    background: linear-gradient(
    rgba(188, 128, 237),
    rgba(188, 128, 237)
    )
}



